# SPDX-License-Identifier: GPL-2.0-only
#
# Allwinner sunXi SoC drivers
#

config SUN50I_H6_EMCE
	tristate "Allwinner H6 Embedded Crypto Engine"
	depends on BLK_INLINE_ENCRYPTION
	default ARCH_SUNXI
	help
	  Say y to enable the Embedded Crypto Engine that allows the
	  inline encryption for the NAND and eMMC.

config SUNXI_MBUS
	bool
	default ARCH_SUNXI
	help
	  Say y to enable the fixups needed to support the Allwinner
	  MBUS DMA quirks.

config SUNXI_SRAM
	bool
	default ARCH_SUNXI
	select REGMAP_MMIO
	help
	  Say y here to enable the SRAM controller support. This
	  device is responsible on mapping the SRAM in the sunXi SoCs
	  whether to the CPU/DMA, or to the devices.
